# Combine exam and exercise-answers in separate project.
# Never on gituhb
# Put in exam_answers folder, zip, on shared L drive
/exam
/exercise-answers

# .pdf files
/support

# Should delete because all art is for
#   example 1 (should be completely revamped)
#   or
#   example 2 (moving to SWE 450)
/art

# build artifacts
/SWE430.zip
/SWE430-support.zip
/website/example.zip
/website/exercise.zip

# Libraries (include in SWE430-support.zip)
/website/css/prettify.css
/website/css/qunit.css
/website/js/coffee-script.js
/website/js/prettify.js
/website/js/qunit.js
/website/js/ljd-utils.js

# Pictures (include in SWE430-support.zip)
/website/lesson1/cycles.png
/website/lesson1/legacy.png
