h2 {
    margin: auto;
    margin-top: 22px;
    text-align: center;
    width: 120px;
    border: 2px solid #002070;
    color: #b0d0ff;
    background-color: #002070;
}

hr {
    border: none;
    color: #002070;
    background-color: #002070;
    height: 2px;
}
