blockquote {
    margin: auto;
    margin-left: 20px;
    padding: 3px;
    color: black;
    background-color: #dddddd;
    border: 1px dashed black;
}

blockquote p {
    margin: 0px;
}

blockquote ul {
    margin: 5px 0px 2px 0px;
    padding: 0px 0px 0px 30px;
}
